*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */

.header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list .logo {
  margin-right: 93px;
}

.nav-list a {
  text-decoration: none;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  display: flex;
}

.logo {
  font-size: 26px;
  font-family: var(--accent-font);
  font-weight: 700;
  color: var(--black-color);
  line-height: 1.173;
}

.first-logo {
  color: var(--blue-color);
}

.link {
  font-weight: 500;
  list-style: none;
  line-height: 1.142;
  font-size: 14px;
}

.current {
  color: var(--blue-color);
}

.conect,
.conect .nav-list-item .contacts-item {
  display: flex;
  margin-left: auto;
}

.nav-list .link,
.conect .link {
  display: block;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier) 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--blue-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
  animation-duration: var(--duration);
  animation-timing-function: var(--bezier);
  animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts a {
  font-weight: 500;
  list-style: none;
  line-height: 1.142;
  font-size: 14px;
  color: var(--grey-color);
  text-decoration: none;
  letter-spacing: 0.02em;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier) 0;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--blue-color);
}

.icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.icon-mail:hover,
.icon-mail:focus {
  fill: currentColor;
}

/* main */

.banner {
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(48, 58, 47, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");

  background-size: 1600px;
  background-color: var(--background-color);
  padding: 200px 0;
  text-align: center;
  background-position: center;
}

.title-baner {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--blue-color);
  margin: 0 auto;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Особенности */

.specifics {
  padding-top: 94px;
}

.specifics .container .specifics-list {
  display: flex;
  justify-content: center;
}

.specifics .container .specifics-list .specifics-list-item {
  max-width: 270px;
  margin-right: 30px;
}

.specifics .container .specifics-list .specifics-list-item:last-child {
  margin-right: 0;
}

.specifics-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.172;
  text-transform: uppercase;
}

.specifics-list p {
  font-size: 14px;
  color: var(--grey-color);
  line-height: 1.714;
}

.specifics-list-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-button);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.antena::before {
  background-image: url("../images/antenna.svg");
}

.clock::before {
  background-image: url("../images/clock.svg");
}

.diagram::before {
  background-image: url("../images/diagram.svg");
}

.astronaut::before {
  background-image: url("../images/astronaut.svg");
}

/* Особенности */

/* Чем мы занимаемся */
.what-we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}

.what-we-do .what-we-do-list {
  display: flex;
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.what-we-do .what-we-do-item {
  margin-right: 30px;
  justify-content: center;
}
.what-we-do .what-we-do-item:last-child {
  margin-right: 0;
}

/* new */
.what-we-do-item {
  position: relative;
  flex-basis: calc(100% / 3);
  text-align: center;
}
.work-name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.143;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.work-name {
  position: absolute;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 0px;
  width: 100%;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Чем мы занимаемся */

/* Наша команда */
.our-team {
  background-color: var(--background-button);
  background-size: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team-list {
  display: flex;
}

.our-team .team-item {
  margin-right: 30px;
  justify-content: center;
}
.our-team .team-item:first-child {
  margin-left: 0;
}
.our-team .team-item:last-child {
  margin-right: 0;
}

.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.title-section {
  text-align: center;
  margin-bottom: 50px;
}

.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.171;
  text-align: center;
}

.team-list p {
  font-size: 16px;
  line-height: 1.171;
  color: var(--grey-color);
  text-align: center;
}

.social-icons {
  display: flex;
  padding-right: 32px;
  padding-left: 32px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 16px;
}

.social-item:not(:last-child) {
  /* width: calc((100% - 3 * 10px) / 4); */
  margin-right: 10px;
}

.social-icons a {
  fill: var(--social-icons);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier) 0;
}

.social-icons a:hover {
  fill: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a:focus {
  fill: var(--white-color);
  background-color: var(--blue-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Наша команда */

/* Клиенты */
.clients {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}
.clients .clients-item {
  width: calc((100% - 5 * 30px) / 6);
}
.clients .clients-item:not(:last-child) {
  margin-right: 30px;
}

.link-company {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  border: 1px solid var(--social-icons);
  border-radius: 4px;
  color: var(--social-icons);
  transition-property: color, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier) 0;
}

.link-company:hover {
  border-color: solid var(--blue-color);
  color: var(--blue-color);
}

.link-company:focus {
  border-color: solid var(--blue-color);
  color: var(--blue-color);
}

.clients-item:hover {
  border-color: solid var(--blue-color);
  color: var(--blue-color);
}

.clients-item :focus {
  border-color: solid var(--blue-color);
  color: var(--blue-color);
}

.icon-company {
  fill: currentColor;
}

.clients .title-section {
  margin-bottom: 50px;
}
/* Клиенты */

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: var(--background-color);
}

.footer .logo {
  margin-bottom: 20px;
}

.footer .adress-item {
  margin-bottom: 9px;
}

.footer .adress-item:last-child {
  margin-bottom: 0;
}

.footer a {
  text-decoration: none;
}

.second-logo {
  color: var(--white-color);
}

.adress {
  font-style: normal;
  margin-top: 20px;
}
.adress li {
  font-size: 14px;
  line-height: 1.714;
  color: var(--white-color);
}

.adress a {
  font-weight: normal;
  list-style: none;
  line-height: 1.714;
  font-size: 14px;
  color: var(--white-color-shadow);
  text-decoration: none;
}

.adress a:hover,
.address a:focus {
  color: var(--blue-color);
}

/* присоединяйтесь */
.social-footer {
  display: flex;
  align-items: baseline;
}

.social-link-footer {
  margin-left: 70px;
}

.social-link-footer p {
  font-weight: bold;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
  color: var(--white-color);
}

.social-icons-footer {
  width: 206px;
  display: flex;
  align-items: center;
}
.icon-social-footer {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}
.link-footer {
  display: flex;
  background-color: var(--bg-icon-footer);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier) 0;
}
.social-item-footer:not(:last-child) {
  margin-right: 10px;
}
.link-footer:hover,
.link-footer:focus {
  fill: var(--white-color);
  background: var(--blue-color);
  border-radius: 50%;
}

.subscribe {
  margin-left: auto;
}

.subscribe .title-section {
  display: block;
  margin-bottom: 20px;
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  text-align: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: uppercase;
}

.form-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subscribe .input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: border, outline-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.subscribe .input:focus {
  outline-color: rgba(255, 255, 255, 0.6);
}

.subscribe .input:hover {
  border: 1px solid var(--blue-color);
}

.subscribe .input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.subscribe .icon {
  margin-left: 10px;
}

/* footer */

/* portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-works {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio .finished-works {
  display: flex;
  flex-wrap: wrap;
}

.our-works li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
}

.btn-works {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--background-button);
  margin-left: 8px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.btn-works:hover,
.btn-works:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
  background-color: var(--blue-color);
}

.btn-active {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(61, 16, 16, 0.25);
}

.finished-works a {
  text-decoration: none;
  color: var(--main-text-color);
}

.finished-works h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.finished-works p {
  font-size: 16px;
  line-height: 1.875;
  color: var(--grey-color);
}

.work-box {
  padding: 20px 22px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.finished-works {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: -30px;
}

.finished-works-item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.finished-works-item:hover {
  background: var(--white-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.text-animation .works-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
}

.text-animation {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  background-color: var(--works-text-bg);

  transform: translateY(101%);
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.work-link:hover .text-animation,
.work-link:focus .text-animation {
  transform: translateY(0);
}

/* Модальне вікно */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.95);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 448px;
  min-height: 120px;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close {
  fill: var(--black-color);

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.close-button:hover .close {
  fill: var(--blue-color);
}
.close-button:focus .close {
  fill: var(--blue-color);
}

.modal .title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.form-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.modal .icon {
  position: absolute;
  left: 12px;
  fill: var(--main-text-color);
  pointer-events: none;

  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.form-field:focus-within .icon,
.form-field:hover .icon,
.label:hover + .form-field > .icon {
  fill: var(--blue-color);
}

.input {
  display: block;
  width: 100%;
  min-height: 40px;
  padding-left: 42px;
  padding-right: 42px;

  background-color: transparent;
  border: 1px solid var(--border-color-form);
  border-radius: 4px;
  outline-color: transparent;
  cursor: pointer;

  transition-property: border, outline-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.form-text {
  margin: 0;
  padding: 0;
  color: var(--grey-color);
}

.text-form {
  padding: 11px 16px;
  resize: none;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: var(--grey-color);
}

.text-form::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.input:hover {
  border: 1px solid var(--blue-color);
}

.input:focus {
  outline-color: var(--blue-color);
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.agreement .form-text {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.check {
  color: transparent;
  border: 2px solid var(--main-text-color);
  border-radius: 2px;
  cursor: pointer;

  transition-property: color, background-color, border;
  transition-duration: var(--duration);
  transition-timing-function: var(--bezier);
}

.checkbox:checked + .check {
  color: var(--white-color);
  background-color: var(--blue-color);
  border: none;
}

.checkbox:focus + .check,
.checkbox:hover + .check {
  border-color: var(--blue-color);
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.agreement .form-text {
  margin-right: 0.25em;
  line-height: 1.714;
}

.agreement .link {
  line-height: 1.714;
  color: var(--blue-color);
  text-decoration-line: underline;
}
